{env.APP_DOMAIN} {
    @api path /jobs /jobs/* /jira/* /auth/* /user/* /admin/* /watch/*
    handle @api {
        reverse_proxy api:5500
    }

    handle {
        root * /usr/share/caddy
        file_server
    }
}
